// variables

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$prm-color: #868b8e;
$w-color: #fff;

// functions

// mixins

@mixin sm {
  @media screen and (min-width: map-get($breakpoints, sm)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: map-get($breakpoints, lg)) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: map-get($breakpoints, xl)) {
    @content;
  }
}

// base

a {
  text-decoration: none;
  &:visited {
    color: unset;
  }
}

// typography (base)

// components




// layouts


// header common layout 
.header
{
  //height: 100px; défini par la grille
  background-color: white;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 2px $prm-color;
  color: darken($color: $prm-color, $amount: 15%);
  &.row 
  {
    margin: 0; // border length
  }
  &__nav
  {
    width: 100%;
    margin: auto 0;
    @include sm {
      margin: auto 1rem;
    }
  }
  &__ul
  {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 1rem 0;
    @include sm
    {
      margin: 1rem 0;
    }
  }
  &__li
  {
    margin: 0 1rem;
    @include sm {
      margin: 0 1.5rem;
    }
    &--push
    {
      margin-left: auto;
    }
    &--cart
    {
      font-size: 25px;
    }
  }  
}


// hero layout

.hero
{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 2px $prm-color;
  margin: 2rem auto auto;
  padding: 0 1.5rem;
  @include sm
  {
    margin: 2.5rem auto auto
  }
  &.row // border length
  {
    margin-left: 0;
    margin-right: 0;
  }
  &__heading
  {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
    @include md
    {
      font-size: 28px;
    }
  }
  &__p
  {
    font-size: 18px;
    margin: 0 auto 2rem;
    max-width: 480px;
    @include sm
    {
      margin: 0 auto 2.5rem; 
    }
  }
}


// view list layout

.view
{
  text-align: center;
  margin: 1rem auto;
  max-width: 800px;
  @include sm {
    margin: 1.5rem auto;
  }
  @include md
  {
    margin: 2rem auto;
  }
  @include xl
  {
    max-width: 1170px;
    margin: 2.5rem auto;
  }
  &.row
  {
    @include md
    {
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__item
  {
    margin: 10px;
    @include md
    {
      margin: 1.5rem 0;
    }
    @include lg
    {
     &:nth-of-type(4n)
      {
        margin-left: auto;
      }
      &:nth-of-type(5n)
      {
        margin-right: auto;
      } 
    } 
  }
  &__name
  {
    color: black;
    margin: 0;
  }
  &__img
  {
    width: 320px;
    height: 320px;
    object-fit: cover;
    box-shadow: 1px 2px 5px lightgray;
    &--left
    {
      object-position: left;
    }
    &--center
    {
      object-position: 10%;
    }
  }
}


// footer common layout

.footer {
  background-color: $w-color;
  border-top: solid 2px $prm-color;
  color: darken($color: $prm-color, $amount: 15%);
  font-size: 14px;
  text-align: center;
  padding: 0.5rem;
  @include sm {
    padding: 1rem;
  }
  &__content.row 
  {
    margin: 0 auto;
    max-width: 700px;
    justify-content: space-around; // display flex from row class BS
  }
  &__brand
  {
    margin-top: 1rem;
  }
  &__p
  {
    margin: 0;
  }
  &__socials
  {
    margin-top: 0.5rem;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
  }
  &__links
  {
    margin-top: 1rem; 
  }
  &__heading
  {
    text-transform: uppercase;
    margin: 0 0 0.8rem;
    font-size: 14px;
  }
  &__ul
  {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    line-height: 1.4;
  }
}

// page product

.pdt 
{
  margin: 1.5rem 0;
  @include md
  {
    margin: 2.5rem 0;
    padding: 0 1rem;
  }
  &__img 
  {
    text-align: center;
    &--big
    {
      display: none;
      @include md
      {
        display: inline;
      }
      @include xl 
      {
        height: 500px;
      }
      &.pdt__img
      {
        @include xl
        {
          padding: 0 2.5rem;
        }
      }
    }
    &--small
    {
      margin: 1.5rem 0 0;
      @include md
      {
        display: none;
      }
    }
  }
  &__preview 
  {
    width: 320px;
    height: 320px;
    object-fit: cover;
    box-shadow: 1px 2px 5px lightgray;
    @include sm
    {
      width: 400px;
      height: 400px;
    }
    @include md
    {
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 400px;
      box-shadow: none;
    }
    @include lg 
    {
      max-height: 600px;
      max-width: 600px;
    }
    @include xl
    {
      max-height: none;
      max-width: none;
     box-shadow: 1px 2px 5px lightgray;
    }
    &--noshadow
    {
      box-shadow: none;
    }
  }
  &__info 
  {
    padding: 0 1rem;
    @include sm
    {
      padding: 0 2.5rem;
    }
    @include md
    {
      padding: 0;
    }
  }
  &__ctg 
  { 
    font-size: 18px;
  }
  &__name
  {
    font-size: 28px;
  }
  &__price
  {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.2; // align with pdt__ctg line-height from BS;
    text-align: end;
    @include md()
    {
      text-align: center;
    }
  }
  &__form // to separate as a layout ?
  {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center; // display flex from row class BS
  }
  &__label
  {
    margin-bottom: 1rem;
  }
  &__cart
  {
    text-align: center;
    margin-bottom: 1rem;
  }
  &__fav
  {
    text-align: center;
  }
  &__details
  {
    padding: 0 2rem;
    @include md()
    {
      padding: 0 1.5rem 0 0;
    }
  }
  &__description
  {
    text-align: justify;
    @include md
    {
      font-size: 18px;
    }
  }
  
}

.feat
{
  margin: 4rem 0 2.5rem;
  padding: 0 1rem;
  justify-content: center; // display flex from row class BS
  &__heading
  {
    font-size: 20px;
    margin-bottom: 0.8rem;
    @include sm
    {
      font-size: 22px;
      margin-bottom: 1.5rem;
    }
  }
  &__item
  {
    padding: 5px;
    text-align: center;
    margin: 0.5rem 0;
  }
  &__img
  { 
    height: 200px;
    width: 200px; 
    object-fit: cover;
    box-shadow: 0px 0px 5px lightgray;
    &--left
    {
      object-position: left;
    }
    &--center
    {
      object-position: 10%;
    }
  } 
} 
 