header 
{
  height: 100px;
  background-color: lightgray;
}

.pdt 
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  &__img 
  {
    grid-area: 1 / 1 / 5 / 4;
  }
  &__preview 
  {
    width: 100%;
  }
  &__info 
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "pdt__ctg pdt__ctg pdt__price"
    "pdt__name pdt__name .";
    grid-area: 1 / 4 / 2 / 6;
  }
  &__ctg 
  { 
    grid-area: pdt__ctg; 
  }
  &__name
  {
    grid-area: pdt__name;
  }
  &__price
  {
    grid-area: pdt__price;
  }
  &__form
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-area: 2 / 4 / 4 / 6;
  }
  &__opt
  {
    grid-area: 1 / 2 / 2 / 3;
  }
  &__details
  {
    grid-area: 4 / 4 / 5 / 6;
  }
  &__description
  {
    font-size: 18px;
    text-align: justify;
  }
  &__featured 
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "pdt__feat pdt__feat pdt__feat pdt__feat";
    grid-area: 5 / 1 / 7 / 6;
  }
  &__feat
  {
    padding: 5px;
  }
}

.label
{
  grid-area: 1 / 1 / 2 / 2;
}

.button__cart
{
  grid-area: 2 / 1 / 3 / 4;
}

.button__fav
{
  grid-area: 3 / 1 / 4 / 4;
}

.feat 
{ 
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

footer {
  height: 200px;
  background-color: lightgray;
}
  