.confirm
{
  margin: 3rem 0;
  &__icon
  {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 200px;
    color: $g-color;
  }
  &__heading
  {
    margin-top: 2rem;
    font-size: 28px;
    text-align: center;
    @include md
    {
      font-size: 30px;
    }
  }
  &__total
  {
    margin-top: 1rem;
    font-size: 22px;
    text-align: center;
  }
  &__id
  {
    margin-top: 1rem;
    font-size: 22px;
    text-align: center;
  }
}